.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    max-width: 20em auto;
    margin: 0 auto;
    padding: 1em;
    border-top: 0.3em solid #027532;
    border-bottom: 0.3em solid #027532;
    border-left: 0.3em solid #027532;
    border-right: 0.3em solid #027532;
    border-radius: 10px;
    box-shadow: 0 0.1em 0.4em rgb(0, 0, 0);
    background-color: #e9e9e9;
    text-align: center;
    margin-top: 0%;
}
.registro-texto {
    color: #027532;
    font-size: 3em;
    transition: 0.9s;
}
.registro-texto:hover {
    color: #4c00ff;
}
body {
    background-color: #ffffff;
}

.fondo-registro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.boton-registrar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dfff87;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.boton-registrar:hover {
    background-color: #00d659;
}
.ra {
    position: relative;
    color: #027532;
    transition: 0.9s;
}
.ra:hover{
    color: #4c00ff;
}
.flashes {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    width: 100%;
}

.flashes li {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
}

.flashes li.error {
    background-color: #f44336;
}
.boton-volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
    color: white;
}
.boton-volver:hover {
    background-color: #9e0202;
}
input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
select {
    width: 84%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 0.5em;
    }

    .registro-texto {
        font-size: 2em;
    }
    input {
        width: 100%;
    }
    select {
        width: 100%;
    }
}