
/*Degradado de arriba a abajo*/
body{
    background: linear-gradient(to bottom, darkr, mediumvioletred)
}

/*Degradado de izquierda a derecha*/
body{
    background: linear-gradient(to right, blueviolet, mediumvioletred)
}

/*Degradado en diagonal (de esquina a esquina)*/
body{
    background: linear-gradient(45deg, blueviolet, mediumvioletred)
}

/*Degradado en radial (circulo)*/
body{
    background: linear-gradient(circle, blueviolet, mediumvioletred)
}

/*Imagen de fondo*/
.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Tipos de moviles */
@media (max-width: 1200px) { /* laptops grandes */ }
@media (max-width: 992px)  { /* tablets horizontales */ }
@media (max-width: 768px)  { /* tablets verticales */ }
@media (max-width: 576px)  { /* celulares */ }
