<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="/static/menu/menu.css">
</head>

<body>
    {% extends "base.html" %}

    {% block title %}Menú Principal{% endblock %}

    {% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h1>Hola {{ docente }} Bienvenido al Menú de Docentes</h1>

        <div class="sub-container">
            <div class="card">
                <h3>Actividades totales</h3>
                <p>{{ total_actividades }}</p>
            </div>
        </div>

        <button type="sumit" onclick="window.location.href='{{ url_for('logout_general') }}'"
            class="boton-logout">Cerrar
            sesión</button><br><br>
        <button type="submit" onclick="window.location.href='/actividades/docentes'" class="boton-zona">Subir
            actividades</button>
        <button type="submit" onclick="window.location.href='/docentes/alumnos/gestion'" class="boton-zona">
            Alumnos</button><br>
        <button type="button" onclick="window.location.href='/chat/general'" class="boton-zona">Chat</button>
    </div>
    {% endblock %}
</body>

</html>