.container {
    font-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 100%;
    margin: 0 auto;
    padding: 3em;
    border-top: 0.3em solid #b76bff;
    border-bottom: 0.3em solid #b76bff;
    border-left: 0.3em solid #b76bff;
    border-right: 0.3em solid #b76bff;
    border-radius: 10px;
    box-shadow: 0 0.1em 0.4em rgb(0, 0, 0);
    background-color: #e9e9e9;
    text-align: center;
    margin-top: 6em;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
}

.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.logo {
    width: 30%;
    min-width: 100px;
    margin-left: auto;
}