.container {
    align-items: center;
    width: 60%;
    max-width: 80%;
    margin: 0em auto;
    padding: 4em;
    border-top: 0.3em solid #b76bff;
    border-bottom: 0.3em solid #b76bff;
    border-left: 0.3em solid #b76bff;
    border-right: 0.3em solid #b76bff;
    border-radius: 10px;
    box-shadow: 0 0.1em 0.4em rgb(0, 0, 0);
    background-color: #e9e9e9;
    text-align: center;
    margin-top: 5%;
}

body {
    background: linear-gradient(135deg, #ff9fd8, #b76bff);
}

.boton-logout {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(90deg, #ff7ab6, #b76bff);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
    animation: slideIn 0.8s ease forwards;
    opacity: 0;
    transform: translateY(90px);
}

.boton-logout:hover {
    background: linear-gradient(90deg, #ff9fd8, #c17dff);
}

h1 {
    color: #b76bff;
    font-size: 2em;
    margin-bottom: 30px;
    animation: aparecer 1.5s ease forwards;
}

.boton-zona {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(90deg, #ff7ab6, #b76bff);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
    animation: slideIn 0.8s ease forwards;
    opacity: 0;
    transform: translateY(90px);
}

.fondo-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.boton-zona:hover {
    background: linear-gradient(90deg, #ff9fd8, #c17dff);
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-90px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.flashes {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    width: 100%;
}

.flashes li {
    background: linear-gradient(90deg, #ff9fd8, #c17dff);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
}

.flashes li.error {
    background-color: #f44336;
}

.sub-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    color: #ff01d5;
    background: linear-gradient(90deg, #ff9fd8, #c17dff);
    margin-bottom: 1%;
    width: 30%;
    height: 20%;
    box-shadow: 1px 7px 10px #ff00c8;
}

.aviso {
    color: red;
    font-size: 2em;
    margin-top: -3em;
    c border: 3px solid #d9ff00;
    background: #8ba300;
}