<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/chat_general/chat_general.css">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>

<body>
    {% extends "base.html" %}

    {% block title %}Menú Principal{% endblock %}

    {% block content %}
    <div class="container">
        <h2 class="texto-chat">Chat general</h2>
        <div id="lista-mensajes">
            {% for msg in mensajes %}
            <p class="texto-mensaje"><strong>{{ msg.usuario }} ({{ msg.tipo_usuario }}):</strong> {{ msg.mensaje }}</p>
            {% endfor %}
            <input id="mensaje" placeholder="Escribe algo..." class="mensaje"><br>
            <button type="button" onclick="enviar()" class="boton-zona">Enviar</button>
            <button type="button" onclick="window.location.href='/volver/menus'" class="boton-logout">Volver</button>
        </div>

        <script>
            const socket = io();

            const USUARIO = "{{ usuario }}";
            const TIPO = "{{ tipo }}";

            function enviar() {
                const input = document.getElementById("mensaje");
                const texto = input.value.trim();

                if (!texto) return;

                socket.emit("mensaje", {
                    texto: texto,
                    usuario: USUARIO,
                    tipo: TIPO
                });

                input.value = "";
            }

            socket.on("nuevo_mensaje", function (data) {
                const p = document.createElement("p");
                p.innerHTML = `<strong>${data.usuario} (${data.tipo}):</strong> ${data.texto}`;
                document.getElementById("lista-mensajes").appendChild(p);
            });
        </script>
        {% endblock %}
</body>

</html>