<!-- Parte creada por Nelly-->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Cuenta</title>
    <link rel="stylesheet" href="/static/registro/registro_docentes/registro_docentes.css">
</head>

<body>

    <form method="POST" action="{{ url_for('registro_general') }}">
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <h4 class="registro-texto">Registro de usuarios</h4>

            <label for="id">Numero de control/empleado:</label>
            <input type="number" id="id" name="id" required placeholder="Ingresa tu N.C o N.E">

            <label for="usuario">Nombre de usuario:</label>
            <input type="text" id="usuario" name="usuario" required placeholder="Elige un usuario">

            <label for="correo">Correo electrónico:</label>
            <input type="email" id="correo" name="correo" required placeholder="ejemplo@gmail.com">

            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required minlength="6"
                placeholder="Mínimo 6 caracteres">

            <label for="confirmar_contrasena">Confirmar Contraseña:</label>
            <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required minlength="6"
                placeholder="Mínimo 6 caracteres">

            <label for="rol">Rol:</label>
            <select name="rol" id="rol" required>
                <option value="" disabled selected>Selecciona tu rol</option>
                <option value="alumno">Alumno</option>
                <option value="docente">Docente</option>
                <option value="administrativo">Administrativo</option>
                <option value="directivo">Directivo</option>
            </select>

            <!-- Campos específicos por rol -->
            <div id="alumno-campos" style="display:none;">
                <label for="grupo">Grupo (Alumno):</label>
                <select id="grupo" name="grupo">
                    <option value="" disabled selected>Selecciona tu grupo</option>
                    <option value="101">101</option>
                    <option value="102">102</option>
                    <option value="103">103</option>
                    <option value="104">104</option>
                    <option value="201">201</option>
                    <option value="202">202</option>
                    <option value="203">203</option>
                    <option value="204">204</option>
                    <option value="301">301</option>
                    <option value="302">302</option>
                    <option value="303">303</option>
                    <option value="304">304</option>
                    <option value="401">401</option>
                    <option value="402">402</option>
                    <option value="403">403</option>
                    <option value="404">404</option>
                    <option value="501">501</option>
                    <option value="502">502</option>
                    <option value="503">503</option>
                    <option value="504">504</option>
                    <option value="601">601</option>
                    <option value="602">602</option>
                    <option value="603">603</option>
                    <option value="604">604</option>
                </select><br>
                <label for="semestre">Semestre (Alumno):</label>
                <select id="semestre" name="semestre">
                    <option value="" disabled selected>Selecciona tu semestre</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>

            <div id="docente-campos" style="display:none;">
                <label for="materia">Materia (Docente):</label>
                <select id="materia" name="materia" required>
                    <option value="" disabled selected>Selecciona una materia</option>
                    <option value="ECOSISTEMAS_INTERACCIONES_ENERGIA_DINAMICA">ECOSISTEMAS: INTERACCIONES, ENERGÍA Y
                        DINÁMICA</option>
                    <option value="MATERIA_ENERGIA_ORGANISMOS">MATERIA Y ENERGÍA EN LOS ORGANISMOS</option>
                    <option value="PENSAMIENTO_MATEMATICO_I">PENSAMIENTO MATEMÁTICO I</option>
                    <option value="PENSAMIENTO_MATEMATICO_III">PENSAMIENTO MATEMÁTICO III</option>
                    <option value="CONSTRUYE_BASES_DATOS_APLICACIONES_WEB_1">CONSTRUYE BASES DE DATOS PARA APLICACIONES
                        WEB</option>
                    <option value="DESARROLLA_APLICACIONES_WEB_CON_CONEXION_BASES_DATOS_1">DESARROLLA APLICACIONES WEB
                        CON CONEXIÓN A BASES DE DATOS</option>
                    <option value="TEMAS_SELECTOS_MATEMATICAS_II">TEMAS SELECTOS DE MATEMÁTICAS II</option>
                    <option value="LENGUA_COMUNICACION_I">LENGUA Y COMUNICACIÓN I</option>
                    <option value="LENGUA_COMUNICACION_III">LENGUA Y COMUNICACIÓN III</option>
                    <option value="ESTUDIOS_LITERARIOS">ESTUDIOS LITERARIOS</option>
                    <option value="EMPLEA_FRAMEWORKS_DESARROLLO_SOFTWARE_1">EMPLEA FRAMEWORKS PARA EL DESARROLLO DE
                        SOFTWARE</option>
                    <option value="APLICA_METODOLOGIAS_AGILES_DESARROLLO_SOFTWARE_1">APLICA METODOLOGÍAS ÁGILES PARA EL
                        DESARROLLO DE SOFTWARE</option>
                    <option value="MATERIA_INTERACCIONES">LA MATERIA Y SUS INTERACCIONES</option>
                    <option value="ENERGIA_PROCESOS_VIDA_DIARIA">LA ENERGÍA EN LOS PROCESOS DE LA VIDA DIARIA</option>
                    <option value="EMPLEA_FRAMEWORKS_DESARROLLO_SOFTWARE_2">EMPLEA FRAMEWORKS PARA EL DESARROLLO DE
                        SOFTWARE</option>
                    <option value="APLICA_METODOLOGIAS_AGILES_DESARROLLO_SOFTWARE_2">APLICA METODOLOGÍAS ÁGILES PARA EL
                        DESARROLLO DE SOFTWARE</option>
                    <option value="CULTURA_DIGITAL_I">CULTURA DIGITAL I</option>
                    <option value="INGLES_V">INGLÉS V</option>
                    <option value="CONSTRUYE_BASES_DATOS_APLICACIONES_WEB_2">CONSTRUYE BASES DE DATOS PARA APLICACIONES
                        WEB</option>
                    <option value="DESARROLLA_APLICACIONES_WEB_CON_CONEXION_BASES_DATOS_2">DESARROLLA APLICACIONES WEB
                        CON CONEXIÓN A BASES DE DATOS</option>

                    <option value="HUMANIDADES_I">HUMANIDADES I</option>
                    <option value="HUMANIDADES_II_1">HUMANIDADES II</option>
                    <option value="APLICACIONES_PENSAMIENTO_MATEMATICO">APLICACIONES DE PENSAMIENTO MATEMATICO</option>
                    <option value="INGLES_I">INGLÉS I</option>
                    <option value="INGLES_III">INGLÉS III</option>
                    <option value="CONCIENCIA_HISTORICA_II_MEXICO_EXPANSIONISMO">CONCIENCIA HISTÓRICA II. MÉXICO DURANTE
                        EL EXPANSIONISMO CAPITALISTA</option>
                    <option value="CIENCIAS_SOCIALES_I">CIENCIAS SOCIALES I</option>
                    <option value="HUMANIDADES_II_2">HUMANIDADES II</option>
                    <option value="CONSTRUYE_BASES_DATOS_APLICACIONES_WEB_3">CONSTRUYE BASES DE DATOS PARA APLICACIONES
                        WEB</option>
                    <option value="DESARROLLA_APLICACIONES_WEB_CON_CONEXION_BASES_DATOS_3">DESARROLLA APLICACIONES WEB
                        CON CONEXIÓN A BASES DE DATOS</option>
                </select>
            </div>
            <button type="submit" class="boton-registrar">Registrarse</button>

            <button type="button" class="boton-registrar" onclick="window.location.href='/login/general'">¿Ya tienes una
                cuenta?</button>

            <button type="button" class="boton-registrar"
                onclick="window.location.href='{{ url_for('ayuda', from_='registro_general') }}'"
                class="ayuda-login">¿Necesitas ayuda?</button>

        </div>
    </form>
    <img src="/static/Cecytem_(Imagen).jpeg" class="fondo-registro">
    <script src="{{ url_for('static', filename='js/registro_general.js') }}"></script>
</body>

</html>