.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19em;
    max-width: 30em;
    margin: 0 auto;
    padding: 3em;
    border-top: 0.3em solid #b76bff;
    border-bottom: 0.3em solid #b76bff;
    border-left: 0.3em solid #b76bff;
    border-right: 0.3em solid #b76bff;
    border-radius: 10px;
    box-shadow: 0 0.1em 0.4em rgb(0, 0, 0);
    background-color: #e9e9e9;
    text-align: center;
    margin-top: 0em;
    width: 19em;
}

.login-texto {
    color: #b76bff;
    font-size: 3em;
    transition: 0.9s;
}

body {
    background: linear-gradient(135deg, #ff9fd8, #b76bff);
}

.boton-loguear {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(90deg, #ff7ab6, #b76bff);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background 0.3s;
}

.boton-loguear:hover {
    background: linear-gradient(90deg, #ff9fd8, #c17dff);
}

.boton-loguear {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(90deg, #ff7ab6, #b76bff);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background 0.3s;
}

.boton-loguear:hover {
    background: linear-gradient(90deg, #ff9fd8, #c17dff);
}

.boton-registrar {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(90deg, #ff7ab6, #b76bff);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background 0.3s;
}

.boton-registrar:hover {
    background: linear-gradient(90deg, #ff9fd8, #c17dff);
}

.ayuda-login {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(90deg, #ff7ab6, #b76bff);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background 0.3s;
}

.ayuda-login:hover {
    background: linear-gradient(90deg, #ff9fd8, #c17dff);
}

.flashes {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    width: 100%;
}

.flashes li {
    background-color: #b76bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
}

.flashes li.error {
    background-color: #f44336;
}

.fondo-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}