.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 3em;
    border-top: 0.3em solid #b76bff;
    border-bottom: 0.3em solid #b76bff;
    border-left: 0.3em solid #b76bff;
    border-right: 0.3em solid #b76bff;
    border-radius: 10px;
    box-shadow: 0 0.1em 0.4em rgb(0, 0, 0);
    background-color: #e9e9e9;
    text-align: center;
    margin-top: 10em;
}

.texto-ayuda {
    color: #b76bff;
    font-size: 2em;
    transition: 0.9s;
}

.texto-ayuda:hover {
    color: #4c00ff;
}

body {
    background: linear-gradient(135deg, #ff9fd8, #b76bff);
}

.fondo-prueba {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.link-login {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1100ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

.link-login:hover {
    background-color: #07006e;
}

.video-ayuda {
    max-width: 200em;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0.1em 0.4em rgb(0, 0, 0);
}

.texto-musica {
    color: #9d00f8;
    font-size: 2em;
}

.flashes {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    width: 100%;
}

.flashes li {
    background-color: #b76bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
}

.flashes li.error {
    background-color: #f44336;
}