.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19em;
    max-width: 30em;
    margin: 0 auto;
    padding: 3em;
    border-top: 0.3em solid #027532;
    border-bottom: 0.3em solid #027532;
    border-left: 0.3em solid #027532;
    border-right: 0.3em solid #027532;
    border-radius: 10px;
    box-shadow: 0 0.1em 0.4em rgb(0, 0, 0);
    background-color: #e9e9e9;
    text-align: center;
    margin-top: 6em;
}

.boton-logout {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff1100;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;  
    transition: background-color 0.3s;
    animation: slideIn 0.8s ease forwards;
    opacity: 0;
    transform: translateY(90px);
}

.boton-logout:hover {
    background-color: #cc0000;
}

h1 {
    color: #027532;
    font-size: 2em;
    margin-bottom: 30px;
    animation: aparecer 1.5s ease forwards;
}

.boton-zona {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dfff87;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
    animation: slideIn 0.8s ease forwards;
    opacity: 0;
    transform: translateY(90px);
}
.fondo-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.boton-zona:hover {
    background-color: #00d659;
}
@keyframes aparecer {
    from { opacity: 0; transform: translateY(-90px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
    to { opacity: 1; transform: translateY(0); }
}
.flashes {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    width: 100%;
}

.flashes li {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
}

.flashes li.error {
    background-color: #f44336;
}

table {
    background: greenyellow;
}