<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades de Alumnos</title>
    <link rel="stylesheet" href="/static/actividades/actividades_alumnos.css">
</head>

<body>
    {% extends "base.html" %}
    {% block title %}Mis Actividades{% endblock %}

    {% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <h1>Mis Actividades</h1>
        <button type="button" onclick="window.location.href='/menu/alumnos'" class="boton-volver"><--- Volver</button>

                {% if actividades %}
                <table border="1">
                    <thead>
                        <tr>
                            <th>Num. Actividad</th>
                            <th>Nombre</th>
                            <th>Maestro</th>
                            <th>Fecha Límite</th>
                            <th>Estado</th>
                            <th>Descripción</th>
                            <th>Acción</th>
                            <th>Material</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for actividad in actividades %}
                        <tr>
                            <td>{{ actividad.numero_actividad }}</td>
                            <td>{{ actividad.nombre }}</td>
                            <td>{{ actividad.maestro }}</td>
                            <td>{{ actividad.fecha_display }}</td>
                            <td
                                class="{% if actividad.estado_actual == 'Activo' %}estado-activo{% else %}estado-inactivo{% endif %}">
                                {{ actividad.estado_actual }}
                            </td>
                            <td>{{ actividad.descripcion }}</td>
                            <td>
                                {% if actividad.estado_actual == 'Activo' and not actividad.ya_entregada %}
                                <form
                                    action="{{ url_for('subir_actividad_alumno', numero_actividad=actividad.numero_actividad) }}"
                                    method="post" enctype="multipart/form-data">
                                    <input type="file" name="archivo" required><br>
                                    <button type="submit" class="boton-zona">Enviar</button>
                                </form><br>

                                {% elif actividad.ya_entregada %}
                                <p class="entregada">Ya entregada</p>
                                {% else %}
                                <p class="inactiva">Actividad Inactiva</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if actividad.archivo_docente %}
                                <a href="{{ url_for('descargar_material_docente', filename=actividad.archivo_docente) }}"
                                    class="boton-zona">
                                    Material
                                </a>
                                {% else %}
                                Sin material
                                {% endif %}



                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h1>🎉No hay actividades asignadas por el momento.🎉🥳</h1>
                {% endif %}
    </div>
    {% endblock %}
</body>

</html>