<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Editar Alumno{% endblock %}</title>
    <link rel="stylesheet" href="/static/lista/lista_de_alumnos.css">
</head>

<body>
    {% extends "base.html" %}

    {% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <h1>Editar la Actividad: {{ actividad.nombre }}</h1>
        <form action="{{ url_for('editar_actividad', numero_actividad=actividad.numero_actividad) }}" method="POST"
            enctype="multipart/form-data">

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" value="{{ actividad.nombre }}" required><br>

            <label for="maestro">Maestro</label>
            <input type="text" id="maestro" name="maestro" value="{{ actividad.maestro }}" required><br>

            <label for="fecha_entrega">Fecha de entrega</label>
            <input type="datetime-local" id="fecha_entrega" name="fecha_entrega"
                value="{{ actividad.fecha_entrega.strftime('%Y-%m-%dT%H:%M') }}" required><br>

            <label for="descripcion">Descripción</label><br>
            <input type="text" id="descripcion" name="descripcion" class="descripción" required
                value="{{ actividad.descripcion }}"><br>

            {% if actividad.archivo_docente %}
            <p>
                📎 Archivo actual:
                <a href="{{ url_for('descargar_material_docente', filename=actividad.archivo_docente) }}">
                    {{ actividad.archivo_docente }}
                </a>
            </p>
            {% else %}
            <p>📎 Sin material</p>
            {% endif %}

            <label for="archivo_docente">Reemplazar archivo (opcional)</label>
            <input type="file" id="archivo_docente" name="archivo_docente"><br><br>

            <button type="submit" class="boton-zona">Actualizar Actividad</button><br>
            <button type="button" class="boton-zona"
                onclick="window.location.href='{{ url_for('actividades_docentes') }}'">
                Cancelar
            </button>
        </form>


    </div>
    {% endblock %}
</body>

</html>