<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive_helpers.css') }}">
    {% endblock %}
</head>

<body>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Contenido del footer -->
    </footer>

    {% block scripts %}
    <script type="text/javascript">
        const INACTIVITY_TIMEOUT = 180000; // 3 min
        const WARNING_TIME = 150000; // 2:30 min

        {% if session.get('rol') %}
        const logoutUrl = "{{ url_for('logout_inactividad') }}";
        {% else %}
        const logoutUrl = null;
        {% endif %}

        if (logoutUrl) {
            let logoutTimer;
            let warningTimer;
            let warningShown = false;

            function showWarning() {
                if (warningShown) return;
                warningShown = true;
                alert("⚠️ Tu sesión expirará en 30 segundos por inactividad.");
            }

            function resetTimers() {
                clearTimeout(logoutTimer);
                clearTimeout(warningTimer);

                warningShown = false;

                warningTimer = setTimeout(showWarning, WARNING_TIME);

                logoutTimer = setTimeout(() => {
                    window.location.href = logoutUrl;
                }, INACTIVITY_TIMEOUT);
            }

            window.onload = resetTimers;

            ["mousemove", "keypress", "click", "scroll", "touchstart", "touchmove"]
                .forEach(event =>
                    document.addEventListener(event, resetTimers)
                );
        }
    </script>

    {% endblock %}
</body>

</html>