<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Musica de fondo</title>
        <link rel="stylesheet" href="/static/pruebas/prueba.css
        ">
    </head>
    <body>
        <div class="container">
            <h1>Prueba de audio</h1>
            <audio src="/static/pruebas/Hueso_Cansado.mp3" autoplay loop></audio>
            <br><br>
            <a href="/login" class="link-login">Regresar al login</a>
        </div><br><br><br><br><br><br><br><br><br><br><br><br>
        <img src="/static/Cecytem_(Imagen).jpeg" class="fondo-prueba">
        <h1 class="texto-musica">Musica de fondo: <a class="link-musica" href="https://www.youtube.com/watch?v=6kZGXjRUGV8">https://www.youtube.com/watch?v=6kZGXjRUGV8</a></h1>
    </body>
</html>