<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de ayuda</title>
        <link rel="stylesheet" href="/static/boostrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/ayuda/ayuda.css">
    </head>
    <body>
        <div class="container">
            <h1 class="texto-ayuda">Te dejamos este video para que entiendas mejor nuestro sistema</h1>
            <video controls src="/static/ayuda/video_ayuda.mp4" class="video-ayuda"></video><br><br>
            <video controls src="/static/ayuda/video_ayuda_2.mp4" class="video-ayuda"></video><br><br>
            <video controls src="/static/ayuda/video_ayuda_3.mp4" class="video-ayuda"></video><br><br>
            <button onclick="window.location.href='/volver/ayuda'" class="boton-regresar">Volver</button>
        </div>
    </body>
    <img src="/static/Cecytem_(Imagen).jpeg" class="fondo-registro">
</html>